body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* view port height - determina que a altura mínima do body será a altura da tela */
    margin: 0;
    background-color: #F8F5EC;
    font-family: 'Raleway', sans-serif;
}

#vaquinha1{
    background-image: url(/img/background-nayzices.png);
    background-repeat: repeat-y;
    background-position: left;
    height: 100%;
    width: 100%;
    /*position: absolute;  remove o elemento da sequência lógica da página, fazendo com que possamos posicioná-lo em qualquer lugar */
    position: fixed;
    z-index: -1; /* essa propriedade só funciona quando a position está definida, e é responsável por ditar a disposição de um elemento sobre o outro */
    
}

#vaquinha2{
    background-image: url(/img/background-nayzices2.png);
    background-repeat: repeat-y;
    background-position: right;
    height: 100%;
    width: 100%;
    /*position: absolute;  remove o elemento da sequência lógica da página, fazendo com que possamos posicioná-lo em qualquer lugar */
    position: fixed;
    z-index: -1; /* essa propriedade só funciona quando a position está definida, e é responsável por ditar a disposição de um elemento sobre o outro */   
}

#menu{
    display: flex;
    /*position: relative;  a posição será baseada no parente dele e não na tela inteira, não remove o elemento da sequência lógica da página. se o posicionamento não for definido (top, bottom, etc.), nada muda */
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    background-color: #65946ce1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
}

#menu img{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-self: center;
    margin-left: 22px;
    width: 7.8%;
}

#menu ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
}

#menu a{
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-right: 30px;
    transition: 500ms;
}

#menu a:hover{
    font-size: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto; 
    /*height: 65px;*/
    width: 100%;
    gap: 10px;      
}


.linha1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linha1 p{
    color: #584a47;
    font-size: 17px;
}

.linha2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    gap: 30px;
}

.linha2 img{
    width: 35px;
    transition: 500ms;
}

.linha2 img:hover{
    width: 40px;
}

.linha2 a{
    width: fit-content;
}

#container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
    border-radius: 15px;
    margin: 130px 150px 50px;
    padding: 35px 45px;
}




h1{
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
    
    color: #3f2823;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}


.setor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    box-sizing: border-box;
    flex-wrap: nowrap; /* configuração que diz respeito à quebra de linha */
    margin: 25px 0px;
    gap: 20px;
}

.setor p{
    font-size: 14px;
}

.setor1{
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    left: 0%;
    text-align: center;
}

.setor1 p{
    font-size: 16px;
}

.bloco{
    max-width: 25%;
}

.bloco img{
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 5px solid #65946ce1;     
    box-sizing: border-box;
}

.bloco1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #65946c;
    margin: 0 auto;
    
}

.bloco1{
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.ajuste-img{
    margin-bottom: 22px;
    
}

.bloco h3{
    color: #3f2823;
    margin-left: 10px;
    margin-right: 10px;
}

.bloco1 h2{
    color: #3f2823;
    margin-left: 10px;
    margin-right: 10px;
}


@media (max-width: 925px){

    #menu a{
        margin-right: 15px;
        font-size: 15px;
     }
 
     #menu img{
         min-width: 80px;
     }
     
     #menu ul{
         flex-wrap: wrap;
     }
    
    .setor{
    flex-wrap: wrap;
    }

    .bloco{
        max-width: unset;
        width: calc(50% - 20px);
      
    }

    #container{
        margin: 130px 50px 50px;
    }

}

@media (max-width: 768px){
   
}


@media (max-width: 500px){
    .bloco{
        width: 100%;
      
    }

    .bloco img{
        max-width: unset;
        max-height: unset;
    }

    .setor{
        margin: 50px 0px 25px;
    }

    .bloco1{
        width: 100%;
    }

    .bloco1 img{
        width: 100%;
        height: unset;
        box-sizing: border-box;
    }
}


@media (max-width: 390px){
    #menu{
        height: 120px;
    }

}